.about {
  background-color: var(--page-background-color);
  padding: 4rem 0;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--page-title);
  }

  p {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: var(--secondary-color);
  }
}